/* base.css */
body {
   font-family: var(--fonte-principal);
   color: #333333;;
}

main {
   padding: 2.5rem 0 2.5rem;
   max-width: 1360px;
   margin: 0 auto;
}

.btn {
   /* tamanho da fonte 20px (projeto) / 16px = 1.25rem */
   font-size: 1.25rem;
   
   /* largura e altura da fonte dos botões */
   width: 161px;
   height: 48px;

   /* borda arredondada, cor do texto e peso da fonte */
   border-radius: 25px;
   color: #fff;
   font-weight: 400;

   /* espaçamento interno (texto) da borda */
   padding: 10px 20px;

   /* Transição suave de 0.3s para background e borda ao passar o mouse */ 
   transition: background-color 0.3s, border 0.3s;
}

.btn-outline {
   /* fundo transparente */
   background-color: transparent;

   /* borda */
   border: 2px solid #fff;

   /* ajusta texto no centro */
   line-height: 23px;
}

.btn-filled {
   /* cor de fundo */
   background-color: #fff;

   /* cor do texto */
   color: #6329A2;

   /* sem borda */
   border: none;
   padding: 10px 44px;
}

.btn:hover {
   /* cor de fundo */
   background-color: #6329A2;

   /* cor do texto */
   color: #fff;

   /* cor da borda para funcionar com a transição */
   border-color: #6329A2;
}