/* base.css - Estilos base do projeto Syntaxwear */
body {
   font-family: var(--fonte-principal); /* Usa a variável de fonte principal */
   color: #333333; /* Cor padrão do texto */
}

main {
   padding: 2.5rem 0 2.5rem; /* Espaçamento superior e inferior */
   max-width: 1360px; /* Largura máxima do conteúdo principal */
   margin: 0 auto; /* Centraliza o conteúdo na tela */
}

@media (max-width:1280px) {
   main {
      padding: 0.625rem;
   }
}

.btn {
   font-size: 1.25rem; /* Tamanho da fonte dos botões */
   width: 161px; /* Largura do botão */
   height: 48px; /* Altura do botão */
   border-radius: 25px; /* Bordas arredondadas */
   color: #fff; /* Cor do texto do botão */
   font-weight: 400; /* Peso da fonte */
   padding: 10px 20px; /* Espaçamento interno do botão */
   transition: background-color 0.3s, border 0.3s; /* Transição suave ao passar o mouse */
}

.btn-outline {
   background-color: transparent; /* Fundo transparente */
   border: 2px solid #fff; /* Borda branca */
   line-height: 23px; /* Centraliza o texto verticalmente */
}

.btn-filled {
   background-color: #fff; /* Fundo branco */
   color: #6329A2; /* Cor do texto roxa */
   border: none; /* Sem borda */
   padding: 10px 44px; /* Espaçamento interno maior */
}

.btn:hover {
   background-color: #6329A2; /* Fundo roxo ao passar o mouse */
   color: #fff; /* Texto branco ao passar o mouse */
   border-color: #6329A2; /* Borda roxa ao passar o mouse */
}