/* header.css - Estilos do cabeçalho do site */
.header {
   position: fixed; /* Header flutuante, fixo no topo */
   top: 60px; /* Distância do topo da página */
   left: 50%; /* Centraliza horizontalmente */
   transform: translate(-50%); /* Ajusta para centralização perfeita */
   width: calc(100% - 210px); /* Largura do header, descontando margens laterais */
   border-radius: 15px; /* Bordas arredondadas do header */
   z-index: 999; /* Garante que o header fique acima dos outros elementos */
   display: flex; /* Usa flexbox para organizar os itens */
   justify-content: space-between; /* Espaço entre os itens do header */
   align-items: center; /* Alinha os itens verticalmente ao centro */
   padding: 0.265rem 1.25rem; /* Espaçamento interno do header */
   background-color: #fff; /* Cor de fundo branca */
   max-width: 1320px; /* Largura máxima do header */
}

.logo img {
   height: 40px; /* Altura do logo */
}

.nav-center ul {
   display: flex; /* Organiza os itens do menu em linha */
   gap: 2.5rem; /* Espaço entre os itens do menu */
}

.nav-center a,
.nav-right a {
   font-size: 1.25rem; /* Tamanho da fonte dos links do menu */
   color: #333333; /* Cor do texto dos links */
}

.nav-center a:hover,
.nav-right a:hover {
   color: #7c3ead; /* Cor do texto ao passar o mouse */
}

.nav-right ul {
   display: flex; /* Organiza os ícones em linha */
   gap: 2.5rem; /* Espaço entre os ícones */
   align-items: center; /* Alinha os ícones verticalmente ao centro */
}

.nav-right img {
   height: 20px; /* Altura dos ícones do menu à direita */
}

.nav-right a:hover img {
   opacity: 0.7; /* Ícone fica mais transparente ao passar o mouse */
}