/* hero.css */
.hero-section {
   /* Define a imagem de fundo, centraliza e não a repete */
   background: url(../../images/banners/hero.jpg) no-repeat center;

   /* cobre e ajusta ao tamanho da tela */
   background-size: cover;
   height: 500px;
   
   /* Base para posicionar elementos filhos */
   position: relative;

   border-radius: 20px;
}

.hero-overlay {
   /* ocupa 100% da largura e altura do pai */
   width: 100%;
   height: 100%;
   
   /* Alinha o conteúdo verticalmente ao centro e horizontalmente ao final (à direita) */
   display: flex;
   align-items: center;
   justify-content: flex-end;

   /* espaçamento interno 0 cima/baixo e 4rem nas laterais */
   padding: 0 6rem;
}

.hero-content {
   color: #fff;

   /* tamanho maximo */
   max-width: 388px;

   /* alinhar texto no centro */
   text-align: center;
}

.hero-buttons {
   display: flex;

   /* espaçamento entre os botões */
   gap: 16px;
}

.hero-content .hero-title {
   /* tamanho da fonte 24/16 = 1.5 */
   font-size: 1.5rem;

   /* margem inferior */
   margin-bottom: 40px ;

   /* peso da fonte */
   font-weight: 400;

   /* Altura da linha */
   line-height: 36px;
   
   /* Espaçamento entre linhas */
   letter-spacing: 3px;
}

.hero-content .hero-subtitle {
   /* tamanho da fonte 20px (projeto) / 16px = 1.25rem */
   font-size: 1.25rem;

   /* peso da fonte */
   font-weight: 400;
}

@media (max-width:768px) {
   .hero-section {
      height: 660px;
      background-image: url(../../images/banners/hero-mobile.jpg);
   }

   .hero-overlay {
      padding: 0;
   }

   .hero-content .hero-title {
      font-size: 1.5rem;
   }

   .hero-content .hero-subtitle {
      font-size: 1.25rem;
   }

   .hero-content {
      max-width: 330px;
      margin: 0 auto;
   }

   .btn {
      font-size: 1.2rem;
   }
}
